.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e2e8ec;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    position: sticky;
    z-index: 999;
    top:0;
    left: 0;
}
.header h3 {
    font-weight: 800;
    color: #2e0b8f;
}
.header h3:hover {
    color: #866fc4;
}
.header h3 span {
    color: #866fc4;
}
.header h3 span:hover {
    color: hsl(256, 86%, 30%);
}

/* Styling the navigation ul and links */
 #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar #close {
    display: none;
}
#mobile {
    display: none;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar .nav-link {
    position: relative;
}

#navbar .nav-link a {
    font-size: 1rem;
    font-weight: 600;
    color: #05031d;
    transition: 0.3s ease;
}
#navbar .nav-link a:hover,
#navbar .nav-link a.active {
    color: #866fc4;
}

/* navigation links underling effect */
#navbar .nav-link a.active::after,
#navbar .nav-link a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #866fc4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#navbar li i {
  
    list-style: none;  
}

/* #navbar .fa-shopping-bag{
    color: #05031d;
} */


#navbar .fa-shopping-bag:hover,
#navbar .fa-shopping-bag.active {
    color: #866fc4;
}

#navbar .fa-shopping-bag.active::after,
#navbar .fa-shopping-bag:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #866fc4;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* hero background styling */
.hero {
    background-image: url('/img/hero.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }

    .hero h4{
        padding-bottom: 15px;
    }

    .hero h1{
        color: #0d617a;
    }
    .hero button{
        padding: 12px 25px;
        background-color: #eb792ebd;
        border: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
    .hero button:hover {
        background-color: #0d617a;
    }

    /*Shop Header Page Styling starts here*/
    .page-header {
        background-image: url("../img/banner/b1.jpg");
        height: 40vh;
        width: 100%;
        background-size: cover;
        padding: 14px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .page-header h2,
    .page-header p {
        color: #fff;
    }
    /*Shop Header Page Styling ends here*/

    
    /*Media Query Start Here*/
    @media(max-width:799px) {
        .section-p1 {
            padding: 40px 40px;
        }
      #navbar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100vh;
            width: 300px;
            background-color: #e3e6f3;
            box-shadow: 0 40px 60px rgba(0,0,0,0.01);
            padding: 80px 0 0 10px;
            transition: 0.3s;
        }
        #navbar.active {
            right: 0px;
        }
        #navbar .nav-link {
            margin-bottom: 25px;
        }
        #mobile {
            display: flex;
            align-items: center;
            cursor: pointer;
            
        }
        #mobile a {
            color: #210346;

        }
        #mobile li {
            list-style: none;
            padding-left: 20px;
            font-size: 24px;
            color: #210346;
        }
        #navbar #close {
            display: initial;
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 22px;
            color: #222;
            cursor: pointer;
        }
        #lg-bag {
            display: none;
        }
        .hero {
            height: 70vh;
            background-position: top 30% right 30%;
            padding: 0 80px; 
        }
        .hero h1{
            font-size: 35px;
            line-height: 2rem;
        }
        .hero h2{
            font-size: 30px;
        }

        
    }
    @media(max-width:477px){
        .header {
            padding: 10px 30px;
            
        }
        h1 {
            font-size: 38px;
            
            }
        h2 {
            font-size: 32px;
           
        }
        .hero {
            background-position: 55%;
            padding: 0 20px;
        }
       
    }