#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('/img/banner/b14.png');
    background-repeat: none;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
#newsletter button {
    background-color: #bac34e;
    color: #041e42;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form {
    display: flex;
    width: 40%;
}

/*Media Query Start Here*/
@media(max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #newsletter .form {
        width: 70%;
    }

}
@media(max-width:477px) {
    
    #newsletter .form {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    
}